body {
  background-color: rgb(217, 227, 255);
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

summary::-webkit-details-marker {
  display: none;
}

summary:first-of-type {
  list-style-type: none;
}

details .details-icon {
  transition: transform 100ms ease-in-out;
}

details[open] .details-icon {
  transform: rotate(90deg);
}

details pre {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 100ms ease-in-out;
}

details[open] pre {
  transform: scaleY(1);
}

svg {
  overflow: visible;
}
